In [1]:
import pandas as pd
import xgboost
import pickle
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
!pip install scikit-learn==1.0.2

Requirement already satisfied: scikit-learn==1.0.2 in /home/khouloud/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in /home/khouloud/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /home/khouloud/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /home/khouloud/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/khouloud/anaconda3/lib/python3.9/site-packages (from scikit-learn==1.0.2) (2.2.0)

In [2]:
test=pd.read_csv('testset.csv')
## load model from file
loaded_model = pickle.load(open("pipefull.pickle.dat", "rb"))

In [3]:
def classification_function(X,model):

    y_pred = model.predict(X)
    X['label'] = pd.DataFrame(y_pred)
    return X

In [4]:
classification_function(test,loaded_model)

,age,sex,cp,trestbps,Temp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,52,1,0,125,41,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,37,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,39,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,41,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,41,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,41,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,37,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,40,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,39,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,38,286,0,0,116,1,3.2,1,2,2,0

In [ ]:
# make predictions for test data

y_pred = loaded_model.predict(test)

In [ ]:
y_pred

In [ ]:
test['label'] = pd.DataFrame(y_pred)

In [ ]:
test['label']

In [ ]:
df=test